@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Selector universal */
* {
    box-sizing: border-box;
}

/* Variables */
body {
    --color-negro: #07020D;
    --color-fondo: #F1E9DB;
    --color-acento: #5DB7DE;
    --color-marron-100: #A39B8B;
    --color-marron-200: #716A5C;

    --tipografia: 'Montserrat', sans-serif;
}

/* ---- Estilos generales ---- */
body {
    background-color: var(--color-fondo);
    margin: 0;
    font-family: var(--tipografia);
    text-align: center;
    color: var(--color-negro);
}

h1 {
    font-weight: 400;
    font-size: 36px;
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

h3 {
    margin:0;
    font-weight: 400;
    font-size: 18px;
}


/* ---- Header y Barra de Navegación ---- */
header {
    background-color: var(--color-negro);
    border-bottom: 4px solid var(--color-acento); /* Grosor Estilo Color */
    padding: 32px 0;/*32px arriba y 0 a los costados*/

    
}
.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    margin: 0 auto;
}

.lista-header {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-header {
    display: inline;
}

/* Links de la barra de navegación */
/* Reposo */
a.nav:link {
    text-decoration: none;
    color: var(--color-fondo);
    margin: 0 16px;
}

/* Visitado */
a.nav:visited {
    color: var(--color-fondo);
}

/* Hover */
a.nav:hover {
    color: var(--color-acento);
}

/* Active */
a.nav:active {
    color: var(--color-acento);
}
/*Formulario de busqueda*//**/
.busqueda{
    display: flex;/*elimina la distancia entre los botones*/
    justify-content: center;/*todos los elementos se centran*/
}
.busqueda input,
.busqueda button{
    height: 50px;/*mismo alto al boton y al input*/
    padding: 5px 12px;/*para que el texto no quede pegado al borde cuando se busca*/
    outline: none;
    border: none;/*esto hace que queden pegados sin lineas en el medio tanto el boton como el input*/
}

.busqueda img{
    width: 35px;
}
.busqueda input{
    border-radius: 16px 0 0 16px;
    border: 2px solid var(--color-marron-100);
    border-right: none;
}
.busqueda button{
    border-radius: 0 16px 16px 0;
    background-color: var(--color-acento);
    border: 2px solid var(--color-acento);
}
.busqueda input:focus{
    border: 2px solid var(--color-acento);
    border-right: none;/*para que no varie el tamaño cuando haces click*/
}


/* ---- Sección Bienvenida ---- */
#bienvenida {
    width: 1250px;
    height: 500px;
    margin: 0 auto;
    padding: 1px;
    background-image: url('../img/bienvenida.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#bienvenida h1 {
    background-color: #010b0fb7;
    color: var(--color-fondo);
    margin-top: 200px;
    padding: 28px;
}

/* ---- Sección Novedades ---- */
#novedades {
    width: 1250px;
    margin: 0 auto;
    
}
.contenedor-novedades{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}

article{
    width: 247px;
    display: flex;
    flex-direction: column;/*esto los deja en columna centrada*/
    justify-content: space-between;/*esto reparte el espacio para que quede parejo*/
    gap: 5px;/*espacio vertical entre elementos de 5px*/
}

/*----- seccion sobre nosotros------*/
#sobrenosotros {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;/*o flex end*/
    align-items: center;
    gap: 32px;

}
#sobrenosotros video{
    width: 750px;
}
.direccion{

    text-align: left;
}

#mapa iframe {
    width: 1250px;
    height: 650px;
    border: none;
    margin-top: 32px;

}
/* ---- Footer ---- */
footer {
    background-color: #716A5C;
    padding: 32px;
}