@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    --color-negro: #07020D;
    --color-base: #F1E9DB;
    --color-acento: #5DB7DE;
    --color-marron-100: #A39B8B;
    --color-marron-200: #716A5C;
}

/* Estilos globales */
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: var(--color-base);
    background-color: var(--color-negro);
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    color: var(--color-acento);
    text-align: center;
}

/*------------ Flexbox --------------*/
.contenedor {
    border: 2px solid var(--color-acento);
    padding: 16px;
    /* width: 1250px; */
    /* height: 2500px; */
    margin: 0 auto;

    display: flex;
    gap: 16px;
    /*flex-wrap: wrap;*/   
}

.item {
    /*width: 150px;*/
    flex-shrink: 0;/*controla cuando los elementos cambian de tamaño-achican-significan que se agrandan proporcionalmente*/
    flex-grow: 1;/*controla el crecimiento del elemento*/
    flex-basis: 150px;/*define el tamaño inicial-para poner un limite al contenedor.*/
    padding: 16px;

    background-color: var(--color-acento);

    font-size: 16px;
    font-weight: 400;
    color: var(--color-negro);
    text-align: center;

}

.item-1 {
    order: 2;
}

.item-2 {
    order: 3;

}

.item-3 {
    order: 1;
}
.item-4 {
    order: 5;
}
.item-5 {
    order: 4;
}



ul {
    display: flex;
    gap: 64px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.busqueda {
    display: flex;
}